.PCD_photoflow .piclist_wrap {
    margin-right: -16px;
}

.PCD_photoflow .main_col {
    width: 686px;
    float: left
}

.PCD_photoflow .tips_warn {
    margin: 0 0 10px 0;
    width: 551px
}

.PCD_photoflow .photo_nav .pt_icon {
    display: inline-block;
    background-image: url("../../../images/photo/photo_icon.png?id=1804211047799");
    vertical-align: middle;
    margin-right: 5px;
}

.PCD_photoflow .photo_nav .pt_icon_pf {
    height: 18px;
    width: 17px;
    background-position: 0 0
}

.PCD_photoflow .photo_nav .pt_icon_like {
    height: 18px;
    width: 17px;
    background-position: -20px 0
}

.PCD_photoflow .photo_nav .pt_icon_hot {
    height: 18px;
    width: 23px;
    background-position: -40px 0;
    margin: 0 2px 0 -3px;
}

.PCD_photoflow .photo_nav .pt_icon_ablum {
    height: 19px;
    width: 18px;
    background-position: -70px 0;
    margin-right: 6px;
}

.PCD_photoflow .photo_nav .pt_icon_new {
    height: 17px;
    width: 15px;
    background-position: -100px 0;
    margin-right: 10px;
}

.PCD_photoflow .photo_nav .pt_icon_hot2 {
    height: 16px;
    width: 16px;
    background-position: -120px 0;
    margin-right: 10px;
}

.PCD_photoflow .photo_nav .pt_icon_video {
    height: 12px;
    width: 16px;
    background-position: -140px 0;
    margin-right: 10px;
    margin-top: -3px;
}

.PCD_photoflow .photo_nav .pt_icon_tag {
    height: 16px;
    width: 16px;
    background-position: -160px 0;
    margin-right: 10px;
    margin-top: -3px;
}

.PCD_photoflow .photo_nav .PCD_left_nav .lev .lev_a {
    padding-right: 0;
}

.PCD_photoflow .ablum_list {
    margin-left: -4px;
}

.PCD_photoflow .ablum_list .ablum_mod {
    float: left;
    width: 84px;
    margin: 0 0 16px 18px;
}

.PCD_photoflow .ablum_list .ablum_mod .icon_btn_imgplay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.PCD_photoflow .ablum_list .ablum_mod img {
    width: 100%;
    display: block;
}

.PCD_photoflow .ablum_list .ablum_cover {
    position: relative;
    height: 84px;
}

.PCD_photoflow .ablum_list .ablum_tit {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
}

.PCD_photoflow .ablum_list .pic_num {
    background: #737373;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 2px;
    padding: 4px 6px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.PCD_photoflow .ablum_list .ablum_type {
    position: absolute;
    height: 58px;
    width: 56px;
    background-image: url("../../../images/photo/icon_abtype.png?id=1404211047788");
    left: 0;
    top: 0;
    z-index: 9
}

.PCD_photoflow .ablum_list .type_weibopic {
    background-position: 0 0;
}

.PCD_photoflow .ablum_list .type_vipic {
    background-position: -60px 0;
}

.PCD_photoflow .ablum_list .type_paypic {
    background-position: -120px 0;
}

.PCD_photoflow .photo_nav .nav_txt {
    margin: 0 10px;
    display: inline-block;
    text-indent: 0;
}

.PCD_photoflow .photo_nav .WB_cardwrap {
    overflow: hidden;
}

.PCD_photoflow .photo_nav .nav_bar {
    display: block;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    text-indent: 17px;
}

.PCD_photoflow .PCD_left_nav .S_line1 {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.PCD_photoflow .photo_nav .nav_cur {
    border-bottom: 2px solid #f7691d;
    height: 39px;
    position: relative;
}

.PCD_photoflow .piclist_wrap .topic_list {
    margin-bottom: -16px;
}

.PCD_photoflow .piclist_wrap .topic_list li {
    margin: 0 0 16px 0
}

.PCD_photoflow .piclist_wrap .topic_list .topic_intro {
    padding: 7px;
    line-height: 17px;
    margin: 6px 0 -10px;
    position: relative;
}

.PCD_photoflow .piclist_wrap .topic_list .W_arrow_bor {
    position: absolute;
    top: -13px;
}

.PCD_photoflow .photo_liked .like_box {
    visibility: visible !important
}

.PCD_photoflow .piclist_ul {
    float: left;
    width: 218px;
    margin-right: 16px;
}

.PCD_photoflow .m_pin_box_b {
    overflow: hidden;
}

.PCD_photoflow .m_pin_box_b .one_pic .like_box {
    position: absolute;
    z-index: 99;
    right: 4px;
    top: 4px;
    visibility: hidden;
}

.PCD_photoflow .m_pin_box_b .one_pic:hover .like_box {
    visibility: visible;
}

.PCD_photoflow .m_pin_box_b .photoArea {
    min-height: 62px;
    background: url("../../../images/photo/photoflow.png?id=1404211047727") repeat;
    margin-bottom: -2px;
}

.PCD_photoflow .m_pin_box_b .photoArea .one_pic {
    position: relative;
    margin-bottom: 2px;
    zoom: 1;
    *float: left;
}

.PCD_photoflow .m_pin_box_b .photoArea .photo_pic {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    *float: left;
}

.PCD_photoflow .m_pin_box_b .photoArea .one_pic .img_intros {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 20px;
}

.PCD_photoflow .m_pin_box_b .photoArea .one_pic .icon_taged_pic {
    margin-left: 5px;
}

.PCD_photoflow .m_pin_box_b .photoArea .ph_ar_box:hover > .photo_pic {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.PCD_photoflow .m_pin_box_b .describe {
    padding: 0 11px 0 11px;
    line-height: 23px;
    word-break: break-all;
    word-wrap: break-word;
}

.PCD_photoflow .m_pin_box_b .box_plus {
    padding: 8px 12px;
}

.PCD_photoflow .m_pin_box_b .box_plus .describe {
    padding: 0;
    line-height: 18px;
    margin-bottom: 4px;
}

.PCD_photoflow .m_pin_box_b .box_plus .ph_ti_na {
    padding: 0;
    line-height: 18px
}

.PCD_photoflow .m_pin_box_b .box_plus .ph_ti_na .WB_praishare {
    float: right
}

.PCD_photoflow .m_pin_box_b .box_plus .ph_ti_na .WB_praishare .W_vline {
    margin: 0 6px
}

.PCD_photoflow .m_pin_box_b .describe .photo_time {
    display: inline-block;
    *float: left;
}

.PCD_photoflow .m_pin_box_b .ph_ar_box {
    display: block;
    min-height: 62px;
}

.PCD_photoflow .m_pin_box_b .toolbar {
    padding: 5px 10px 7px 10px;
    text-align: right;
    word-break: keep-all;
}

.PCD_photoflow .m_pin_box_b .tb_praise, .PCD_photoflow .m_pin_box_b .tb_transmit, .PCD_photoflow .m_pin_box_b .tb_comment {
    display: inline-block;
}

.PCD_photoflow .m_pin_box_b .tb_praise {
    cursor: pointer;
}

.PCD_photoflow .m_pin_box_b .tit_name {
    display: inline-block;
    float: right;
}

.PCD_photoflow .m_pin_box_b .ph_ti_na {
    padding: 0 11px;
    line-height: 23px;
    color: #999;
}

.PCD_photoflow .m_pin_box_b .ph_ti_na .photo_time {
    float: left;
}

.PCD_photoflow .yl_more_bar {
    margin-top: 15px;
}

.PCD_photoflow .yl_more_bar .more_txt {
    background: #fefded;
    text-align: center;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #F48C12;
    border: 1px solid #f9f2a7;
}

.PCD_photoflow .yl_more_bar .more_txt:hover {
    background: #fffde0;
}

.PCD_photoflow .W_empty {
    margin: 40px 0;
}

.PCD_photoflow .WB_SpackUp_center {
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

.PCD_photoflow .WB_SpackUp_center a {
    height: 31px;
    display: block;
    line-height: 31px;
    padding-left: 20px;
    text-align: center;
}

.PCD_photoflow .WB_SpackUp_center a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration: none;
}

.PCD_photoflow .m_pin_box_b .photoArea .gif {
    position: absolute;
    z-index: 50;
    *position: static;
    margin: -28px 0 0 5px;
    width: 40px;
    height: 26px;
    line-height: 26px;
    display: block;
    overflow: hidden;
    zoom: 1;
    cursor: default;
    text-align: left;
}

.PCD_photoflow .m_pin_box_b .photoArea .gif i {
    margin-bottom: 10px;
    color: #f8f8f8;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 700;
    height: 18px;
    width: 40px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
}

.PCD_photoflow .m_pin_box_b .photoArea .giftag {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../../../images/photo/icon_gif.png") no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .PCD_photoflow .m_pin_box_b .photoArea .giftag {
        background: url("../../../images/photo/icon_gif-2x.png") no-repeat 0 0;
        background-size: 20px 20px;
    }
}

.PCD_photoflow .icon_phototag {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../../../images/photo/icon_tag.png?id=1404211047727") no-repeat;
    margin-top: 3px;
}

.PCD_photoflow .m_pin_box_b .pin_head {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px
}

.PCD_photoflow .m_pin_box_b .pin_head .tit {
    float: left
}

.PCD_photoflow .m_pin_box_b .pin_head .more {
    float: right;
    font-size: 12px
}

.PCD_photoflow .m_pin_box_b .pin_body {
    padding: 15px 10px 5px;
    background: #FFF
}

.PCD_photoflow .icon_promotion {
    display: inline-block;
    height: 14px;
    width: 25px;
    background-image: url("../../../images/photo/icon_promotion.png?id=1404211047727");
    margin-left: 3px;
    vertical-align: -2px;
}

.PCD_photoflow .m_pin_box_b_video .one_pic img {
    width: 100%;
}

.PCD_photoflow .m_pin_box_b_video .icon_playvideo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -27px 0 0 -27px;
}

@media screen and (max-width: 939px) {
    .PCD_photoflow .piclist_ul {
        width: 138px;
    }

    .PCD_photoflow .ablum_list .ablum_mod {
        width: 106px;
    }

    .PCD_photoflow .ablum_list .ablum_cover {
        height: 106px;
    }

    .PCD_photoflow .photo_nav .PCD_left_nav .lev .num {
        padding-left: 0;
    }

    .PCD_photoflow .main_col {
        width: 446px;
        float: left
    }
}

#js_style_css_module_pagecard_PCD_photoflow {
    height: 42px;
}

.PCD_left_nav .WB_innerwrap {
    padding: 2px;
    position: relative;
    z-index: 1;
}

.PCD_left_nav .left_nav {
    text-shadow: none;
}

.PCD_left_nav .ficon_eye {
    color: #ffa105;
    margin-left: 3px;
    vertical-align: text-bottom;
}

.PCD_left_nav .lev_box {
    position: relative;
}

.PCD_left_nav .lev {
    border-top-width: 1px;
    border-top-style: solid;
}

.PCD_left_nav .lev:first-child {
    border-top: none;
}

.PCD_left_nav .lev .lev_a {
    display: block;
    padding: 10px 14px;
}

.PCD_left_nav .lev .current {
    font-weight: bold;
}

.PCD_left_nav .lev .num {
    padding-left: 5px;
}

.PCD_left_nav a .S_ficon_dis, .PCD_left_nav a:hover .S_ficon_dis {
    opacity: 1;
    filter: alpha(opacity=100);
}

.PCD_left_nav a .S_ficon_dis:hover {
    cursor: pointer;
}

.PCD_left_nav .expand .lev_a {
    padding-bottom: 5px;
}

.PCD_left_nav .lev2_list {
    padding: 0 0 5px 37px;
}

.PCD_left_nav .lev2 .lev_a {
    padding: 7px 0;
}

.PCD_left_nav .lev2 .lev_a:hover .W_ficon {
    color: #eb7350;
}

.PCD_left_nav .lev2 .W_ficon {
    margin-right: 6px;
    font-size: 12px;
}

.PCD_left_nav .lev2 .lev_cur .W_ficon {
    font-size: 0;
    *font-size: 12px;
}

.PCD_left_nav .lev2 .lev_cur .ficon_eye {
    font-size: 12px;
}

.PCD_left_nav .lev2 .lev_cur .W_ficon:after {
    content: "B";
    font-size: 12px;
}

.PCD_left_nav .lev2 .lev_cur .ficon_eye:after {
    content: "";
    display: none;
}

.PCD_left_nav .lev2 .W_ficon, .PCD_left_nav .lev2 .num, .PCD_left_nav .lev2 span {
    vertical-align: middle;
}

.PCD_left_nav .lev_add {
    display: block;
    padding: 2px 0 15px 38px;
}

.PCD_left_nav .lev_add .W_ficon {
    margin-right: 6px;
    vertical-align: middle;
}

.PCD_left_nav .lev_add .W_btn_b {
    width: 88px;
    padding: 0;
    margin-right: 6px;
}

.PCD_left_nav .ficon_p_follow, .PCD_left_nav .ficon_fans, .PCD_left_nav .ficon_subscribe, .PCD_left_nav .ficon_p_rmd, .PCD_left_nav .ficon_p_quietfollow, .PCD_left_nav .ficon_p_interest, .PCD_left_nav .ficon_p_find, .PCD_left_nav .ficon_blacklist, .PCD_left_nav .ficon_interest, .PCD_left_nav .ficon_groupmember {
    margin-right: 5px;
    font-size: 18px;
}

.PCD_left_nav .ficon_music, .PCD_left_nav .ficon_place, .PCD_left_nav .ficon_movie, .PCD_left_nav .ficon_image, .PCD_left_nav .ficon_swtopic, .PCD_left_nav .ficon_book, .PCD_left_nav .ficon_games, .PCD_left_nav .ficon_longwb {
    margin-right: 5px;
    font-size: 16px;
}

.layer_checkgroup {
    *position: relative;
    width: 334px;
}

.layer_checkgroup .inner_checkgroup {
    *position: relative;
    padding: 16px;
}

.layer_checkgroup .checkgroup_li {
    float: left;
    width: 150px;
}

.layer_checkgroup .checkgroup_li .S_txt1 {
    display: block;
    width: 148px;
    height: 15px;
    padding: 6px 0 6px 1px;
}

.layer_checkgroup .checkgroup_li span {
    vertical-align: middle;
}

.layer_checkgroup .checkgroup_li .W_ficon {
    font-size: 12px;
    vertical-align: middle;
}

.layer_checkgroup .W_layer_btn {
    padding: 10px 16px;
    text-align: left;
    *position: relative;
    zoom: 1;
    background: #f2f2f5 !important;
    border-top: none;
    border-radius: 0;
}

.layer_checkgroup .W_layer_btn a {
    margin: 0 10px 0 0;
}

#js_style_css_module_pagecard_PCD_left_nav {
    height: 42px;
}

.PCD_photo_album_v2 {
    position: relative;
    min-height: 470px;
    background-color: #fff;
    margin-bottom: 20px;
}

.PCD_photo_album_v2 .photo_album_null {
    text-align: center;
    padding-top: 96px;
}

.PCD_photo_album_v2 .photo_album_btn {
    text-align: center;
    padding-top: 20px;
}

.PCD_photo_album_v2 .W_layer_pop .W_layer_arrow .W_arrow_bor_t {
    left: 210px;
}

.PCD_photo_album_v2 .photo_album_list {
    padding: 18px 18px;
}

.PCD_photo_album_v2 .photo_module {
    position: relative;
    float: left;
    width: 217px;
    height: auto;
    margin: 2px 2px;
    background-color: #f2f2f5;
}

.PCD_photo_album_v2 .mid_line {
    margin: 0 20px;
    border-bottom: 1px solid #f2f2f5;
}

.PCD_photo_album_v2 .photo_module:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid rgba(0, 0, 0, .05);
}

.PCD_photo_album_v2 .photo_cont {
    position: relative;
    width: 217px;
    height: 217px;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.PCD_photo_album_v2 .photo_pict {
    min-width: 217px;
    height: 217px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: perspective(1px) translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: perspective(1px) translate(-50%, -50%);
}

@media \0screen\,screen\9 {
    .PCD_photo_album_v2 .photo_pict {
        position: static;
        top: auto;
        left: auto;
    }
}

.PCD_photo_album_v2 .photo_pict_h {
    min-width: auto;
    height: auto;
    width: 217px;
    min-height: 217px;
}

.PCD_photo_album_v2 .icon_playvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
    z-index: 2;
}

.PCD_photo_album_v2 .video_time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    background: #2c2c2c;
    background: rgba(74, 74, 74, 0.6);
    overflow: hidden;
    color: #fff;
}

.PCD_photo_album_v2 .W_icon_tag_v2 {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16px;
    margin: 0;
    padding: 0 3px;
    background: #eb7350;
    color: #fff;
    line-height: 18px;
}

.PCD_photo_album_v2 .txt_cont {
    position: relative;
    margin: 10px 10px;
    line-height: 18px;
    height: 36px;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

.PCD_photo_album_v2 .photo_face {
    padding-bottom: 10px;
}

.PCD_photo_album_v2 .photo_cont .approval_box {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    visibility: hidden;
}

.PCD_photo_album_v2 .photo_cont .bot_cover {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 217px;
    height: 30px;
    background: #2c2c2c;
    background: rgba(74, 74, 74, 0.6);
    text-align: left;
    visibility: hidden;
}

.PCD_photo_album_v2 .photo_cont .bot_icon {
    display: inline-block;
    line-height: 30px;
}

.PCD_photo_album_v2 .photo_cont .bot_icon_f {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
}

.PCD_photo_album_v2 .photo_cont .bot_icon_f:hover {
    color: #eb7350;
}

.PCD_photo_album_v2 .photo_cont .bot_icon_f em {
    padding-right: 5px;
    font-size: 14px;
}

.PCD_photo_album_v2 .photo_cont:hover .approval_box {
    visibility: visible;
}

.PCD_photo_album_v2 .photo_cont:hover .bot_cover {
    visibility: visible;
}

.WB_tab_b .PCD_photo_album_v2_btn a {
    display: inline-block;
    padding: 7px 20px 7px 0px;
}

#js_style_css_module_pagecard_PCD_photo_album_v2 {
    height: 42px;
}

.WB_feed .WB_cardwrap {
    margin-bottom: 10px;
}

.B_page .WB_feed div.WB_cardwrap:last-child {
    margin-bottom: 16px;
}

.WB_feed .W_tips {
    margin-bottom: 10px;
}

.WB_feed_detail {
    padding: 10px 16px 10px 10px;
}

.WB_feed_detail .W_tips {
    margin: 0 -6px 10px 0;
}

.WB_feed_type_box_t {
    overflow: hidden;
}

.WB_screen .screen_box {
    position: absolute;
    margin: -10px 0 0 -27px;
    *z-index: 10;
}

.WB_screen .screen_box .W_ficon {
    width: 41px;
    height: 16px;
    padding: 4px 0 6px 0;
    text-align: center;
    font-size: 18px;
}

.WB_screen .screen_box .layer_menu_list {
    right: 16px;
    top: 22px;
}

.WB_screen .screen_box .txt {
    display: inline-block;
    width: 200px;
    margin: 10px 0 0 -173px;
    text-align: right;
}

.WB_face {
    width: 50px;
}

.WB_face .face img {
    width: 50px;
    height: 50px;
}

.WB_face .opt {
    margin: 10px 0 0;
}

.WB_face .opt .W_btn_b {
    width: 48px;
    padding: 0;
    overflow: hidden;
}

.WB_face .opt .W_btn_b .ficon_add {
    margin-right: 0;
}

.WB_detail {
    margin-left: 60px;
}

.WB_info {
    margin: 0 0 3px;
    padding: 5px 0 0;
}

.WB_text {
    padding: 1px 0 3px;
    overflow: hidden;
    line-height: 23px;
    word-wrap: break-word;
}

.WB_text img {
    vertical-align: text-bottom;
}

.WB_text img.W_icon_vipstyle {
    vertical-align: -2px !important;
    vertical-align: text-bottom \9 !important;
}

.WB_text .icon_balloon, .WB_text .W_icon_feedpin, .WB_text .W_icon_feedhot, .WB_text .icon_sw_trans {
    margin: 3px 2px 0;
    vertical-align: top;
}

.WB_text a.icon_balloon, .WB_text a.W_icon_feedpin, .WB_text a.W_icon_feedhot {
    cursor: text;
}

.WB_text .W_tips {
    margin-bottom: 4px;
}

.WB_text .W_ico16 {
    vertical-align: -4px;
    *vertical-align: -1px;
    margin: 0 0 0 2px;
}

.WB_text .ico_balloonM {
    margin: 0 3px 0 0;
    vertical-align: middle;
}

.WB_text .WB_text_opt {
    display: inline-block;
    margin-left: 5px;
}

.WB_answer {
    margin: 3px 0 13px;
}

.WB_type {
    margin: 0 0 0 10px;
}

.WB_type .W_icon {
    margin: 0 4px 0 0;
    vertical-align: -4px;
    *vertical-align: -1px;
}

.WB_tag_s {
    margin: 2px 0 9px;
}

.WB_tag_s .W_btn_tag {
    margin: 0 7px 0 10px;
}

.WB_tag_s .input_outer {
    display: inline-block;
    width: 356px;
    margin: 0 0 1px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    height: 28px;
    padding: 0 0 0 2px;
    vertical-align: middle;
    color: #808080;
    outline-style: none;
    background-color: transparent;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
}

.WB_tag_s .input_outer input {
    zoom: 1;
    width: 98%;
    *width: 235px;
    border: 0;
    box-shadow: none;
    background: none;
}

.WB_tag_s .input_outer .W_btn_tag {
    margin-top: 3px;
    margin-right: 10px;
}

@media \0screen\,screen\9 {
    .WB_tag_s .input_outer input {
        height: 21px;
        line-height: 18px;
        padding: 5px 0 0 2px;
    }
}

.WB_tag_s .b {
    *padding-left: 10px;
}

.WB_tag_s .e .W_btn_a {
    margin: 2px 5px 0 10px;
    vertical-align: top;
}

.WB_tag_s .e .W_btn_b {
    margin-top: 2px;
    vertical-align: top;
}

.WB_tag_s .e .input_outer .W_btn_b {
    margin-top: 3px;
}

.WB_tag .W_fr {
    margin-top: 8px;
}

.WB_tag .WB_tag_s {
    display: inline-block;
}

.WB_tag_rec {
    margin-bottom: 5px;
}

.WB_tag_rec a {
    margin-right: 20px;
}

.WB_tag_rec .W_ficon, .WB_tag_rec a:hover .W_ficon {
    margin-right: 4px;
    color: inherit;
    font-size: 14px;
}

.WB_row_line .line .icon_praised_b, .WB_row_line .line .icon_praised_bc {
    margin: 4px 0 0;
    *margin-right: 5px;
    vertical-align: top;
}

.WB_row_line .line span em {
    *vertical-align: -3px;
    *line-height: 16px;
}

.WB_row_line a:hover .icon_praised_b {
    background-position: -125px -25px;
}

.WB_row_line .line i.S_txt2 {
    margin: 0 10px 0 0;
}

.WB_row_line .line span em, .WB_row_line .line span i {
    margin-left: 2px;
    margin-right: 3px;
}

.WB_row_line .line span .W_ficon {
    *margin-top: 2px;
    font-size: 15px;
    vertical-align: top;
}

.WB_feed_handle .WB_handle {
    overflow: hidden;
}

.WB_feed_handle .WB_row_line {
    border-top-width: 1px;
    border-top-style: solid;
}

.WB_feed_handle .WB_row_line .curr {
    position: relative;
    font-weight: bold;
}

.WB_feed_handle .WB_row_line .arrow {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -7px;
}

.WB_feed_handle .WB_row_line .curr .arrow {
    display: inline-block;
}

.WB_feed_handle .WB_row_line .W_arrow_bor {
    position: absolute;
    top: -14px;
    left: 0;
}

.WB_feed_handle .WB_row_line .W_arrow_bor em {
    margin: 1px 0 0 -14px;
    *margin: -13px 0 0;
}

.WB_func .WB_handle ul {
    margin-right: -10px;
    overflow: hidden;
}

.WB_func .WB_handle li {
    float: left;
    margin: 0 -1px 0 0;
}

.WB_func .WB_handle li .line {
    display: block;
    margin: 2px 0;
    padding: 0 10px;
    border-right-width: 1px;
    border-right-style: solid;
    line-height: 12px;
}

.WB_func .WB_handle li.hover {
    visibility: hidden;
}

.WB_func .WB_handle .curr, .WB_func .WB_handle .curr cite {
    font-weight: bold;
}

.WB_func .WB_handle .arrow {
    visibility: hidden;
    position: absolute;
    margin: 15px 0 0 -5px;
}

.WB_func .WB_handle .curr .arrow {
    visibility: visible;
}

.WB_func .WB_handle .W_arrow_bor {
    position: absolute;
    margin: -20px 0 0 20px;
}

.WB_func .WB_from {
    line-height: 16px;
}

.WB_func .WB_handle li .line .W_icon {
    margin: -1px 0 0;
    *margin-right: 3px;
    vertical-align: top;
}

.WB_func .WB_handle li .line em {
    margin-left: 4px;
    *zoom: 1;
    *margin-top: -2px;
    *vertical-align: top;
}

.WB_func .WB_handle li .line a:hover .icon_praised_b {
    background-position: -125px -25px;
}

.WB_func .WB_handle li .line span .W_icon {
    position: absolute;
    *position: static;
}

.WB_func .WB_handle li .line span em {
    margin-left: 15px;
    *margin-left: 0;
}

.WB_func .WB_handle li .line {
    *line-height: 15px;
}

.WB_func .WB_handle li .line span em.W_ficon {
    margin-left: 0;
    margin-right: -10px;
    *margin-right: 5px;
    font-size: 15px;
    vertical-align: top;
}

.WB_expand {
    margin: 0 0 10px;
    padding: 10px 16px 13px;
}

.WB_expand_media {
    margin: 2px 0 8px;
    padding: 12px 16px 16px;
}

.WB_expand .WB_expand_media {
    padding: 0 0 5px;
}

.WB_feed_expand .W_arrow_bor {
    height: 10px;
    overflow: hidden;
}

.WB_feed_expand .W_arrow_bor i {
    border-width: 10px;
    margin: -10px 0 0 16px;
    *margin: -8px 0 0 16px;
}

.WB_expand .W_tips {
    margin: 6px 0 4px;
}

.WB_expand .WB_empty .WB_innerwrap {
    padding: 10px 16px 6px;
}

.tab_feed_a {
    overflow: hidden;
    line-height: 20px;
}

.tab_feed_a .tab {
    margin: 0 0 0 -10px;
}

.tab_feed_a .tab ul {
    overflow: hidden;
}

.tab_feed_a .tab li {
    float: left;
    margin: 0 0 0 -1px;
}

.tab_feed_a .tab .line {
    display: block;
    margin: 5px 0;
    padding: 0 10px;
    border-left-width: 1px;
    border-left-style: solid;
    line-height: 10px;
}

.tab_feed_a li .curr {
    font-weight: bold;
}

.tab_feed_a .tab .W_ficon {
    margin: 0 3px 0 0;
    *font-size: 10px;
    *vertical-align: middle;
}

.tab_feed_a .tab .line .W_autocut {
    display: inline-block;
    width: 400px;
    margin: -2px 0;
    padding: 2px 0;
}

.WB_feed .W_pages {
    padding: 4px 0;
}

.WB_feed .WB_cardwrap .WB_notes {
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.WB_feed .WB_cardtitle_b .layer_menu_list {
    top: 24px;
    right: 0;
    line-height: 1.3em;
}

.WB_feed_yy2017 {
    display: none;
}

.WB_feed_vipcover .WB_feed_detail {
    position: relative;
    padding-top: 16px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 600px;
}

.WB_vipcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.WB_starcover {
    position: absolute;
    top: 0;
    right: 43px;
    width: 120px;
    height: 36px;
}

.WB_vipcover a, .WB_starcover a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    text-indent: -600px;
}

.WB_feed_comment .WB_feed_detail {
    padding: 20px 20px 0;
}

.WB_feed_comment .WB_feed_expand.SW_fun {
    cursor: pointer;
}

.WB_feed_comment .WB_expand {
    padding: 5px 16px;
}

.WB_feed_comment .WB_info, .WB_feed_comment .WB_from {
    margin: 0 0 10px;
}

.WB_feed_comment .WB_text {
    margin: 0 0 10px;
    padding: 0;
}

.WB_feed_comment .WB_expand .WB_text {
    margin: 0;
}

.WB_feed_comment .WB_text .W_icon {
    margin: 0 0 0 3px;
    vertical-align: -3px;
    vertical-align: text-bottom \9;
}

.WB_feed_profile .WB_feed_detail {
    padding-left: 16px;
}

.WB_feed_profile .WB_feed_detail .W_tips {
    margin-right: 0;
}

.WB_feed_profile .WB_detail {
    margin-left: 0;
}

.WB_feed_profile .WB_detail .WB_text {
    padding-right: 16px;
}

.WB_feed_profile .WB_expand .WB_text {
    padding-right: 0;
}

.WB_feed_profile .WB_starcover {
    position: static;
    height: 22px;
    margin: -16px 0 0 421px;
}

.WB_feed_newuser .WB_notes {
    margin-top: 0;
    padding-top: 0;
}

.WB_feed_onecard_v2 .WB_cardwrap {
    margin-top: -1px;
    margin-bottom: 0;
    border-top: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
}

.WB_feed_onecard_v2 .WB_feed_detail {
    padding-top: 16px;
}

.WB_feed_onecard_v2 div.WB_cardwrap:first-child {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.WB_feed_onecard_v2 div.WB_cardwrap:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.WB_feed_onecard_v2 .WB_row_line li {
    height: 39px;
}

#js_style_css_module_list_WB_feed {
    height: 42px;
}

.WB_publish .p_input {
    margin: 0 0 10px;
}

.WB_publish .p_input .W_input {
    width: 98%;
    padding-left: 6px;
    padding-right: 2px;
}

.WB_publish .p_opt .opt .ico {
    float: left;
    margin: -4px 5px 0 0;
}

.WB_publish .p_opt .opt .ico a:hover {
    text-decoration: none;
}

.WB_publish .p_opt .opt .ico .W_ficon {
    cursor: pointer;
}

.WB_publish .p_opt .opt .ico .S_ficon_dis {
    cursor: default;
}

.WB_publish .p_opt .opt ul.ipt {
    float: left;
    margin: 1px 0 0;
    margin: 3px 0 0 \9;
    *margin: -1px 0 0;
    padding: 0 0 4px;
}

.WB_publish .p_opt .opt ul.ipt li {
    margin: 0 0 5px;
}

.WB_publish .p_opt .btn {
    padding: 0 0 10px;
    text-align: left;
}

.WB_publish .p_opt .btn .W_btn_a {
    vertical-align: top;
}

.WB_publish .p_textarea {
    position: relative;
}

.WB_publish .p_textarea .W_input {
    height: 48px;
    padding-bottom: 25px;
}

.WB_publish .p_textarea .tips {
    position: absolute;
    right: 12px;
    bottom: 7px;
    line-height: 18px;
}

.WB_publish .p_opt .btn .prompt {
    margin: 0 10px 0 0;
    line-height: 26px;
}

.WB_publish .limits {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    *z-index: 2;
}

.WB_publish .limits a.S_txt1, .WB_publish .limits a.S_ficon_dis {
    display: inline-block;
    margin: 5px 8px 0 0;
    *margin: 0 8px 0 0;
}

.WB_publish .limits .W_autocut {
    display: inline-block;
    width: 62px;
    cursor: pointer;
    text-align: right;
}

.WB_publish .limits a.S_ficon_dis .W_autocut {
    cursor: default;
}

.WB_publish .limits .ficon_arrow_down {
    margin: 0 0 0 2px;
    vertical-align: 4px;
}

.WB_publish .limits .layer_menu_list {
    position: absolute;
    *width: 120px;
    right: 0px;
    top: 22px;
    z-index: 100;
    zoom: 1;
}

.WB_feed_profile .WB_publish .p_input .W_input {
    padding-right: 3px;
}

.WB_feed_profile .forward_rpt2 .WB_publish .p_input .W_input {
    padding-right: 2px;
}

#js_style_css_module_list_WB_feed_publish {
    height: 42px;
}

.WB_feed_repeat {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.WB_feed_repeat .WB_repeat {
    *width: 100%;
    margin: -1px 0 0;
    padding: 16px 0 6px;
    border-top-width: 1px;
    border-top-style: solid;
}

.WB_feed_repeat .forward_rpt1 .WB_repeat, .WB_feed_repeat .forward_rpt2 .WB_repeat {
    margin: 0;
    padding: 0;
    border: 0;
}

.WB_feed_repeat .W_tips {
    margin: 0 16px 10px;
}

.WB_feed_repeat .list_ul .W_tips {
    margin: 10px 0;
}

.WB_feed_repeat .WB_face, .WB_feed_repeat .WB_face img {
    width: 30px;
    height: 30px;
}

.WB_feed_repeat .WB_feed_publish {
    padding: 0 16px 0 20px;
}

.WB_feed_repeat .WB_publish {
    margin: 0 0 0 50px;
}

.forward_rpt2 .WB_face {
    width: 50px;
    line-height: 28px;
    text-align: right;
}

.forward_rpt2 .repeat_list .WB_face {
    width: 30px;
    text-align: left;
}

.forward_rpt2 .WB_publish {
    margin: 0 0 0 50px;
}

.WB_feed_repeat .sendbox_mod .sendbox_area .W_input {
    margin: 0 -10px 0 0;
    padding: 5px 2px 0 6px;
    *padding: 5px 6px 0;
    font-size: 12px;
}

.WB_feed_repeat .WB_repeat_in {
    margin: 8px 0 3px -40px;
    *margin-top: 6px;
}

.WB_feed_repeat .WB_repeat_in .WB_feed_publish {
    padding: 16px 16px 6px;
}

.WB_feed_repeat .WB_repeat_in .WB_publish {
    margin-left: 0;
}

.WB_feed_repeat .repeat_list {
    padding: 0 16px 0 70px;
    overflow: hidden;
}

.WB_feed_repeat .repeat_list .tab_feed_a {
    margin: 6px 0 4px;
    padding: 12px 0 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.WB_feed_repeat .repeat_list .list_box {
    margin: -4px 0 0;
}

.WB_feed_repeat .repeat_list .WB_cardmore {
    margin: 0 -16px -6px -70px;
}

.WB_feed_repeat .repeat_list .list_li {
    *width: 100%;
    margin: 0 0 -1px;
    padding: 5px 0 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.WB_feed_repeat .repeat_list .list_li:hover .WB_handle li.hover {
    visibility: visible;
}

.WB_feed_repeat .repeat_list .WB_face {
    padding: 6px 0 0;
}

.WB_feed_repeat .repeat_list .WB_text {
    padding: 0 0 2px;
}

.WB_feed_repeat .list_con {
    margin: 0 0 0 40px;
}

.between_line {
    position: relative;
    width: 100%;
    margin: 0 0 -1px;
    padding: 3px 0;
}

.between_line fieldset {
    width: 40%;
    padding: 0 30%;
}

.between_line legend {
    width: 100%;
    *margin: 0 -7px;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

.WB_emotion .emotion_list {
    padding: 0 0 8px 19px;
    overflow: hidden;
}

.WB_emotion .emotion_list li {
    float: left;
    margin: 0 8px 8px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.WB_emotion .emotion_list li img {
    width: 30px;
    height: 30px;
}

.WB_emotion .emotion_list li a {
    display: block;
    width: 100%;
    height: 100%;
}

.WB_feed_repeat .WB_minitab {
    margin: 0 16px 10px;
    text-align: left;
}

.WB_feed_repeat .WB_minitab .minitb_lk {
    text-align: center;
}

.WB_feed_repeat .sendbox_mod {
    padding: 0 0 16px 0;
    *padding-right: 4px;
    overflow: hidden;
}

.WB_feed_repeat .sendbox_mod .sendbox_area {
    padding-right: 10px;
}

.WB_feed_repeat .sendbox_mod .sendbox_menu {
    padding-top: 0;
}

.WB_feed_repeat .sendbox_mod .sendbox_annex {
    *margin-right: -4px;
}

.WB_feed_repeat .sendbox_mod .sendbox_bar {
    *margin-right: -4px;
}

.WB_attitude_list {
    padding: 0 20px;
}

.WB_attitude_list .tab_feed_a {
    margin: 0 0 6px;
}

.WB_attitude_list .tab_feed_a .spe a {
    padding-left: 22px;
}

.WB_attitude_list .tab_feed_a .W_icon {
    position: absolute;
    margin: -3px 0 0 -22px;
}

.WB_attitude_list .list_ul {
    overflow: hidden;
}

.WB_attitude_list .list_li {
    margin: 0 0 -1px;
    padding: 10px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.WB_attitude_list .list_li .list_con {
    width: 370px;
    margin-top: -6px;
}

.WB_attitude_list .att_box {
    margin: 6px 0 0;
}

.WB_attitude_list .att_box .W_icon {
    margin: 0 6px 0 0;
    vertical-align: -3px;
}

.WB_attitude_list .add_box {
    margin: 2px 0 0;
}

.WB_attitude_list .WB_empty .ficon_praised {
    margin: 0 4px;
}

.WB_feed_comment .WB_feed_repeat .WB_feed_publish {
    padding-right: 20px;
}

.WB_feed_comment .WB_feed_repeat .WB_publish {
    margin-left: 40px;
}

.WB_feed_profile .WB_feed_repeat .WB_feed_publish {
    padding-left: 16px;
}

.WB_feed_profile .WB_feed_repeat .WB_publish {
    margin-left: 0;
}

.WB_feed_profile .forward_rpt2 .WB_publish {
    margin-left: 50px;
}

.WB_feed_profile .WB_feed_repeat .repeat_list {
    padding-left: 16px;
}

.WB_feed_profile .WB_feed_repeat .repeat_list .WB_cardmore {
    margin-left: -16px;
}

.WB_feed_profile .WB_feed_repeat .repeat_list .WB_cardpage {
    margin: 0 -16px -6px;
}

#js_style_css_module_list_WB_feed_repeat {
    height: 42px;
}

.WB_feed_repeat .WB_media_wrap {
    margin-bottom: 8px;
}

.WB_feed_repeat .WB_media_a_m1 .WB_pic {
    width: 50px;
    height: 50px;
}

.WB_feed_repeat .WB_media_a_m1 .WB_pic img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}

.WB_feed_repeat .WB_media_a_m1 .WB_pic:before {
    display: inline-block;
    content: "&nbsp;";
    width: 0;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.WB_feed_repeat .repeat_list .WB_expand_media .tab_feed_a {
    margin: 0;
    padding: 0;
    border: 0;
}

.WB_sonFeed .WB_media_view, .WB_sonFeed .WB_media_view .media_show_box li, .WB_sonFeed .artwork_box {
    width: 424px;
}

.WB_sonFeed .WB_media_view .media_show_box img {
    max-width: 424px;
}

.WB_feed_comment .WB_media_wrap {
    margin: 2px 0 8px -10px;
}

.WB_feed_comment .WB_media_wrap .media_box {
    float: left;
    margin: 0 0 0 10px;
}

.WB_feed_comment .WB_media_view {
    width: 440px;
    margin: 6px auto 0;
    overflow: hidden;
}

.WB_feed_comment .WB_media_view .media_show_box {
    position: relative;
    overflow: hidden;
}

.WB_feed_comment .WB_media_view .pic_show_controlN {
    display: none;
}

.WB_feed_comment .WB_media_view .media_show_box li {
    float: left;
    width: 440px;
    text-align: center;
}

.WB_feed_comment .WB_media_view .media_show_box img {
    display: inline-block;
    vertical-align: middle;
}

.WB_feed_comment .WB_media_view .media_show_box .W_loading {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic img {
    display: inline-block;
    vertical-align: top;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic {
    min-width: 36px;
    max-width: 120px;
    max-height: 120px;
    text-align: center;
    *display: inline;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic img {
    max-width: 120px;
    max-height: 120px;
}

.WB_feed_comment .WB_media_wrap {
    margin-top: 0;
    margin-bottom: 0;
}

.WB_feed_comment .WB_expand_media {
    margin: 0 0 10px;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic {
    width: 50px;
    height: 50px;
    margin: 0 0 10px;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}

.WB_feed_comment .WB_media_a_m1 .WB_pic:before {
    display: inline-block;
    content: "&nbsp;";
    width: 0;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

#js_style_css_module_list_WB_feed_repeat_media {
    height: 42px;
}

#js_style_css_module_pagecard_comb_PCD_photoflow {
    height: 42px;
}